.vscode/*.log
*.dat
*.exe
*.dll
*.idb
*.id0
*.id1
*.id2
*.nam
*.til
*.o
*.out
*.elf
*.dol
*.a
*.d
*.map
*.exe
*.dump
*.7z
*.bat
build
tools/mwcc_compiler/*
!tools/mwcc_compiler/.gitkeep
*.sln
*.vcxproj
*.user
*.filters
Debug
.vs
ctx.c
tools/dtk
